src/main/webapp/WEB-INF/wsdl/EmployeeWebServiceImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://ws.technoserv.ru/" name="EmployeeWebServiceImplService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://ws.technoserv.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.technoserv.ru/" schemaLocation="EmployeeWebServiceImplService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="changeGrade">
    <part name="parameters" element="tns:changeGrade"/>
  </message>
  <message name="changeGradeResponse">
    <part name="parameters" element="tns:changeGradeResponse"/>
  </message>
  <message name="changePosition">
    <part name="parameters" element="tns:changePosition"/>
  </message>
  <message name="changePositionResponse">
    <part name="parameters" element="tns:changePositionResponse"/>
  </message>
  <message name="changeSalary">
    <part name="parameters" element="tns:changeSalary"/>
  </message>
  <message name="changeSalaryResponse">
    <part name="parameters" element="tns:changeSalaryResponse"/>
  </message>
  <portType name="EmployeeWebService">
    <operation name="changeGrade">
      <input wsam:Action="http://ws.technoserv.ru/EmployeeWebService/changeGradeRequest" message="tns:changeGrade"/>
      <output wsam:Action="http://ws.technoserv.ru/EmployeeWebService/changeGradeResponse" message="tns:changeGradeResponse"/>
    </operation>
    <operation name="changePosition">
      <input wsam:Action="http://ws.technoserv.ru/EmployeeWebService/changePositionRequest" message="tns:changePosition"/>
      <output wsam:Action="http://ws.technoserv.ru/EmployeeWebService/changePositionResponse" message="tns:changePositionResponse"/>
    </operation>
    <operation name="changeSalary">
      <input wsam:Action="http://ws.technoserv.ru/EmployeeWebService/changeSalaryRequest" message="tns:changeSalary"/>
      <output wsam:Action="http://ws.technoserv.ru/EmployeeWebService/changeSalaryResponse" message="tns:changeSalaryResponse"/>
    </operation>
  </portType>
  <binding name="EmployeeWebServiceImplBinding" type="tns:EmployeeWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="changeGrade">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="changePosition">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="changeSalary">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="EmployeeWebServiceImplService">
    <port name="EmployeeWebServiceImpl" binding="tns:EmployeeWebServiceImplBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

